*{
    box-sizing: border-box; 
}
body {
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-color: black;
    background-repeat: no-repeat;
}
header {
    position: relative;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 37vw;
}
header img {
    max-width: 150px;
    display: flex;
    margin-left: -20px;
}
#nav-bar {
    margin-top: 10px;
}
nav{
    display: block;
}
li {
    list-style-type: none;
}
ul{
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: solid;
    color: white;
    font-weight: bold;
}
#title{
    color: white;
    text-align: left;
    padding-top: 100px;
    font-size: 100px;
    margin-top: -20px;
}
#pinnacle{
    color: red;
    font-weight: bold;
    font-style: italic;
}
input[type="email"]{
    max-width: 300px;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-top: 0;
    margin-left: 20px;
    background: transparent;
    border: 1px solid red;
    border-radius: 10px;
    color: white;

}
input[type="submit"]{
    max-width: 150px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: red;
    color: black;
    transition: ease-in-out 0.3s;
    box-shadow: 2px 2px red;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    height: 125px;
    width: 300px;
    color: red;
    font-size: 80px;
}
#container{
    margin-top: 10px;
    padding: 0 20px;
}
h2{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.grid{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
p{
    color: white;
    font-size: 18px;
}
#fr{
    padding: 10px;
    width: 400px;

    height: 350px;
    object-fit: cover;
}
.items{
    margin: 20px;
    text-align: center;
}
.wrap{
    gap: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
h1{
    color: white;
    font-size: 40px;
    text-align: center;
}
#video{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
